<side-nav></side-nav>
<div class="edit-area">
    <div class="bracket-container">
        <table>
            <tr>
                <th>
                    Rate
                </th>
                <th>
                    From
                </th>
                <th>
                    To
                </th>
                <th>
                    Plus
                </th>
            </tr>
            <tbody ng-repeat="b in brackets">
                <tr>
                    <td><input type="text" value="{{b.rate}}"></td>
                    <td><input type="text" value="{{b.from}}"></td>
                    <td><input type="text" value="{{b.to}}"></td>
                    <td><input type="text" value="{{b.plus}}"></td>
                </tr>
            </tbody>
        </table>
        <a><button type="button" name="button">Update Bracket</button></a>
    </div>
</div>
