<div class="container">

	<h2>Please select your filing status:</h2>

  <ul>
  <li>
    <input type="radio" id="f-option" name="status">
    <label for="f-option">Single</label>

    <div class="check"></div>
  </li>

  <li>
    <input type="radio" id="s-option" name="status">
    <label for="s-option">Married Filing Jointly</label>

    <div class="check"><div class="inside"></div></div>
  </li>


  <li>
    <input type="radio" id="t-option" name="status">
    <label for="t-option">Married Filing Separately</label>

    <div class="check"><div class="inside"></div></div>
  </li>

  <li>
    <input type="radio" id="u-option" name="status">
    <label for="u-option">Head of Household</label>

    <div class="check"><div class="inside"></div></div>
  </li>
</ul>
<a ui-sref="w2-income" class='next-btn'>
  <button type="button" name="button">Proceed</button>
</a>
</div>
