<div class="input-container">
    <h2>{{ pageName }}</h2>
    <a ng-click="showHelp()"><img src="http://megaicons.net/static/img/icons_title/8/178/title/very-basic-info-icon.png"></a>
    <form ng-submit='proceed(num)'>
        <input class="input-box" type="text" name="name" value="" autofocus ng-model="num">
    </form>
    <a ng-click="proceed(num)" ng-hide="{{ done }}">
      <button type="button" name="button">Process</button>
    </a>
    <a ng-click="reProcess(num)" ng-show="{{ done }}">
        <button type="button" name="button">Re-Process</button>
    </a>
</div>
