@import 'https://fonts.googleapis.com/css?family=Open+Sans:400,700|Titillium+Web:400,700';
body {
    font-family: 'Titillium Web', sans-serif;
}
*, :after, :before {
    box-sizing: initial;
}
.header {
    width: 100%;
    height: 114px;
    position: fixed;
    // box-shadow: 0 0 10px 5px lightgray;
    background-color: white;
    z-index: 10;
    .nav-left {
        width: 260px;
        float: left;
        margin-top: 25px;
    }
    .nav-right {
        float: right;
        overflow: auto;
        height: 100%;
        padding-top: 14px;
        width: 740px;
        .nav-links {
            float: right;
            display: inline-flex;
            margin-bottom: 15px;
            .contact {
                margin-right: 10px;
                padding-bottom: 15px;
                display: inline-flex;
                .text {
                    padding-top: 6px;
                    margin-left: 9px;
                    font-size: 15px;
                }
            }
            .social-icon {
                margin-left: 9px;
            }
        }
        .navbar {
            float: right;
            clear: right;
            .nav-list {
                display: inline-flex;
                font-size: 20px;
                a {
                    color: #515348;
                    margin-left: 25px;
                    &:hover {
                        color: #547710;
                    }
                }
            }
        }
    }
}
.center {
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
}
.main {
    height: 635px;
    width: 100%;
    padding-top: 20vh;
    background-image: url('../assets/landingblur-img.jpg');
    background-size: cover;
    background-attachment: fixed;
}
.footer {
    height: 430px;
    width: 100%;
    .foot-top {
        height: 333px;
        background-color: #242424;
        color: #babdc0;
        padding-top: 38px;
        font-size: 14px;
        .center {
            display: flex;
            justify-content: space-between;
        }
        ul {
            line-height: 32px;
        }
        .testimonials img {
            height: 90px;
        }
        .foot-contact {
            b {
                font-weight: bold;
            }
        }
        .foot-social {
            ul {
                line-height: 24px;
                .title {
                    margin-bottom: 20px;
                }
                li {
                    margin: 6px 0;
                    a {
                        display: inline-flex;
                        img {
                            height: 22px;
                        }
                        .text {
                            margin-left: 5px;
                        }
                    }
                }
            }
        }
        .title {
            font-size: 16px;
            margin-bottom: 20px;
        }
        a {
            color: inherit;
            font-size: 14px;
            &:hover {
                color: white;
            }
        }
    }
    .foot-bottom {
        height: 97px;
        background-color: #151515;
        color: #616161;
        font-size: 14px;
        padding-top: 20px;
        line-height: 24px;
        text-align: center;
        a {
            color: inherit;
            &:hover {
                color: white;
            }
        }
    }
}
//********************** UI-View Styles *************************//
// .home-view:before {
//     height: 100%;
//     width: 100%;
//     background: url('../assets/landing-img2.jpg') no-repeat center;
//     background-size: cover;
//     height: 100%;
//     -webkit-filter: grayscale(100%) blur(8px);
// }
.home-view {
    height: 100%;
    width: 100%;
    padding-top: 100px;
    .CTA-container {
        margin: auto;
        width: 650px;
        align-items: center;
        display: flex;
        justify-content: center;
        justify-content: space-around;
        .CTA {
            height: 120px;
            width: 240px;
            background-color: #60d0e4;
            font-size: 35px;
            text-align: center;
            padding-top: 20px;
            line-height: 36px;
            color: white;
            border-radius: 20px;
            display: inline-block;
            // box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
            &:hover {
                background-color: #1CA4BD;
                cursor: pointer;
                box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
            }
            &:active {
                transform: translateY(3px);
            }
        }
    }
    .home-title {
        width: 1000px;
        margin: 0 auto 15vh;
        text-align: center;
        color: #242424;
        font-family: 'Open Sans', sans-serif;
    }
    .typed-js {
        font-size: 50px;
        text-align: center;
    }
    .fixed-text {
        font-size: 50px;
        margin-bottom: 30px;
    }
}
.alertify {
    color: #3E517A;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;
}
svg {
    margin-left: auto;
    margin-right: auto;
    display: block;
}
.axis line,
.axis path {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}
.axis text {
    font: Times;
    font-size: 12px;
    font-weight: bold;
}
//********************** Typed JS *****************************//
.typed-cursor {
    font-size: 50px;
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}
@keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@-webkit-keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@-moz-keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@-webkit-keyframes ajs-slideIn {
    0% {
        margin-top: -100%;
    }
    100% {
        margin-top: 12%;
    }
}
@keyframes ajs-slideIn {
    0% {
        margin-top: -100%;
    }
    100% {
        margin-top: 12%;
    }
}
@-webkit-keyframes ajs-slideOut {
    0% {
        margin-top: 12%;
    }
    100% {
        margin-top: -100%;
    }
}
@keyframes ajs-slideOut {
    0% {
        margin-top: 12%;
    }
    100% {
        margin-top: -100%;
    }
}
.alertify .ajs-dialog {
    margin: 12% auto;
}
.progress {
    width: 900px;
    font-size: 14px;
    // font-weight: bold;
    margin: auto;
    color: #151515;
    text-align: center;
    a {
      color: inherit;
    }
}
.progress-item {
    border-bottom: 3px solid #151515;
    margin-left: 5px;
    &:hover {
        border-bottom: 3px solid #fff;
        cursor: pointer;
    }
}
//******************************* radio buttons ****************************//
.container {
    margin: 3% auto 0 auto;
    height: 75%;
    width: 400px;
    position: relative;
    background: white;
    border-radius: 20px;
    padding-top: 15px;
    a {
        &:hover {
            cursor: pointer;
        }
        img {
            height: 20px;
            width: 20px;
        }
    }
    h2 {
        color: #000;
        font-weight: normal;
        margin-left: 18px;
        display: inline;
    }
    ul {
        list-style: none;
        height: 100%;
        width: 100%;
        margin: 0;
        padding: 0;
        li {
            color: #000;
            display: block;
            position: relative;
            float: left;
            width: 100%;
            // border-bottom: 1px solid #111111;
            &:hover {
                label {
                    color: #000;
                }
                .check {
                    border: 5px solid #000;
                }
            }
            input[type=radio] {
                position: absolute;
                visibility: hidden;
                &:checked {
                  ~ .check {
                      border: 5px solid #000;
                  }
                  ~ .check::before {
                      background: #000;
                  }
                  ~ label {
                      color: #000;
                  }
                }
            }
            label {
                display: block;
                position: relative;
                font-weight: 300;
                font-size: 1.35em;
                padding: 25px 25px 25px 80px;
                margin: 1% auto;
                height: 30px;
                z-index: 9;
                cursor: pointer;
                -webkit-transition: all 0.25s linear;
            }
            .check {
                display: block;
                position: absolute;
                border: 5px solid #000;
                border-radius: 100%;
                height: 25px;
                width: 25px;
                top: 25px;
                left: 20px;
                z-index: 5;
                transition: border 0.25s linear;
                -webkit-transition: border 0.25s linear;
            }
            .check::before {
                display: block;
                position: absolute;
                content: '';
                border-radius: 100%;
                height: 13px;
                width: 13px;
                top: 1px;
                left: 1px;
                margin: auto;
                transition: background 0.25s linear;
                -webkit-transition: background 0.25s linear;
            }
        }
    }
}
.highlight {
  border-bottom: 4px solid #60d0e4;
}
.hide {
    display: none;
}
ui-view {
    height: 100%;
}
.next-btn {
    position: absolute;
    right: 28px;
    bottom: 16px;
    button {
        // background-color: #60d0e4;
    }
}
.input-container {
    height: 75%;
    background: white;
    border-radius: 20px;
    width: 500px;
    margin: 3% auto 0 auto;
    padding-top: 15px;
    h2 {
        color: #000;
        font-weight: normal;
        margin-left: 18px;
        display: inline-block;
    }
    a {
        &:hover {
            cursor: pointer;
        }
        img {
            height: 20px;
            width: 20px;
        }
    }
}
.input-box {
    background-image: url('../assets/dollar-sign-256.png');
    background-position: left;
    background-size: 20px 20px;
    background-repeat: no-repeat;
    background-position: 5px 5px;
    font-size: 20px;
    text-align: left;
    padding-left: 30px;
}
// div[ui-view] {
//     -webkit-transition: -webkit-transform .7s ease-in-out;
//     -moz-transition: -moz-transform .7s ease-in-out;
//     -o-transition: -o-transform .7s ease-in-out;
//     transition: transform .7s ease-in-out;
//     -webkit-transform: translateX(0);
//     transform: translateX(0);
// }
//
// div[ui-view].ng-enter {
//     -webkit-transform: translateX(-100%);
//     transform: translateX(-100%);
// }
//
// div[ui-view].ng-enter.ng-enter-active, .slide.ng-leave {
//     position: absolute;
//     -webkit-transform: translateX(0);
//     transform: translateX(0);
// }

// div[ui-view].ng-leave.ng-leave-active {
//     -webkit-transform: translateX(100%);
//     transform: translateX(100%);
// }
.info-box {
    display: none;
}
.show {
    display: block;
}
.results {
    width: 1000px;
    height: 460px;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    margin-top: 3%;
    border-radius: 20px;
}
.table-container {
    height: 75%;
    width: 500px;
    margin: 0 auto;
    padding-top: 15px;
    display: inline-block;
}
.table {
    margin: auto;
}
caption {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
}
td {
    font-size: 15px;
    text-align: center;
    border: 1px solid lightgray;
    width: 120px;
    height: 35px;
    vertical-align: middle;
    color: grey;
    transition: all 500ms ease-in-out;
}
.table-heading {
    font-size: 22px;
    background: #60d0e4;
    border: 1px solid lightgray;
    height: 50px;
    vertical-align: middle;
    color: white;
}
.table-catagory {
    font-size: 18px;
    text-align: center;
    margin-left: 20px;
    margin-right: 10px;
    background: #60d0e4;
    color: white;
}
.graph-container {
    height: 390px;
    width: 450px;
    display: inline-block;
    margin-left: 40px;
}
.net {
    font-weight: 700;
}
